@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --primary-color: #1071df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2f1f2;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 98vw;
    height: 100vh;
}

#todo-list{
    width: 22rem;
    height: 60%;
    border-radius: 1rem 1rem 0 0;
}

#title{
    margin: 0;
    padding: 1rem 0;
    color: var(--primary-color);
    text-align: center;
    border-top: 2rem solid var(--primary-color);
    border-bottom: 0.2rem solid gray;
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    font-size: 2rem;
    font-weight: 700;
}

#filters{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}
#filters button{
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    font-size: 0.8rem;
    cursor: pointer;
}

#filters button:focus{
    outline: 0;
}

#filters button.active{
    background-color: var(--primary-color);
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 0;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

#filters button.active:focus{
    outline: 0;
}

#form{
    margin: 0;
    padding: 1.5rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#form .input{
    background-color: transparent;
    text-align: center;
    border: 0;
    border-bottom: 0.1rem solid var(--primary-color);
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    width: 19rem;
}

#form .input:focus{
    border-bottom: 0.2rem solid var(--primary-color);
    outline: 0;
}

#form .date-input{
    border-radius: 0 !important;
    background-color: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--primary-color);
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    width: 19rem;
}

#form .date-input:focus{
    border-bottom: 0.2rem solid var(--primary-color);
    outline: 0;
}

#form .button{
    background-color: transparent;
    padding: 0.4rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    border: 0;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

#form .button:focus{
    outline: 0;
}

#tasks-container{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#no-tasks{
    color: gray;
    font-weight: 300;
}

#tasks-container .do{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: white;
}

#tasks-container .do .date.true{
    font-size: 0.9rem;
    font-weight: 400;
    color: red;
}

#tasks-container .do .date.false{
    font-size: 0.9rem;
    font-weight: 400;
    color: gray;
}

#tasks-container .do .t-container{
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

#tasks-container .do .t-container span{
    cursor: pointer;
}

#tasks-container .do .t-container i{
    margin-left: 0.5rem;
    cursor: pointer;
}

#tasks-container .do .t-container .true{
    text-decoration: line-through;
}

#tasks-container .do .edit-container {
    display: flex;
    justify-content: space-between;    
}

#tasks-container .do .edit-container input{
    padding-left: 0.8rem;
    background-color: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--primary-color);
    font-size: 0.9rem;
}

#tasks-container .do .edit-container input:focus{
    border-bottom: 0.2rem solid var(--primary-color);
    outline: 0;
}

#tasks-container .do .edit-container #cancel{
    background-color: transparent;
    padding: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 0.1rem;
}

#tasks-container .do .edit-container #save{
    background-color: var(--primary-color);
    padding: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid transparent;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

.calendar-modal{
    transform: translate(0, 12rem);
}

.calendar-header{
    background-color: var(--primary-color) !important;
}

.daysList-day.is-pointer.is-selected-day{
    background-color: var(--primary-color) !important;
}

.daysList-day.is-pointer.is-today{
    box-shadow:inset 0 0 0 2px var(--primary-color) !important;
}

.monthList_month.is-selected-month{
    color: var(--primary-color) !important;
}

.yearList_year.is-selectedYearRef{
    color: var(--primary-color) !important;
}

.date-edit-input{
    text-align: start !important;
    border-radius: 0 !important;
    padding-left: 0.8rem !important;
    background-color: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--primary-color);
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    width: 11.5rem;
}

#form .date-edit-input:focus{
    border-bottom: 0.2rem solid var(--primary-color);
    outline: 0;
}